@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.findYourDream {
  align-self: stretch;
  position: relative;
  line-height: 72px;
  font-weight: 600;
}
.vestibulumAnteIpsum {
  align-self: stretch;
  position: relative;
  font-size: var(--body-large-400-size);
  line-height: 28px;
  font-family: var(--body-large-400);
  color: var(--primary-50);
}
.rent,
.text {
  display: flex;
  justify-content: flex-start;
}
.text {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
}
.rent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
}
.sale1 {
  position: relative;
  font-size: var(--body-regular-500-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-large-400);
  color: var(--primary-400);
  text-align: center;
}
.sale,
.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sale {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--gray-white);
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.tabs {
  gap: var(--gap-3xs);
}
.locations1 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
.locations {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
}
.propertyType1 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 150px;
}
.dropdownlink {
  align-self: stretch;
}
.propertyType,
.rentRange {
  width: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.rentRange {
  width: 155px;
}
.search {
  position: relative;
  font-size: var(--body-regular-500-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-large-400);
  color: var(--gray-white);
  text-align: center;
}
.searchCta {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  box-shadow: 0 3px 6px rgba(74, 96, 161, 0.5);
  width: 102px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.searchCta:hover {
  background-color: var(--color-darkslateblue-100);
  animation: 0.3s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.formcontainer,
.formwrapper,
.searchCta {
  display: flex;
  flex-direction: row;
}
.formcontainer {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  padding: var(--padding-13xl) var(--padding-43xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
}
.formwrapper {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.rentsale {
  justify-content: flex-start;
  gap: var(--gap-mid);
  text-align: left;
  font-size: var(--body-regular-500-size);
  color: var(--primary-700);
  font-family: var(--body-large-400);
}
.heroSection,
.heroSectionContents,
.rentsale {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroSectionContents {
  justify-content: center;
  gap: var(--gap-43xl);
  max-width: 95%px;
}
.heroSection {
  padding: var(--padding-101xl) var(--padding-11xl);
  justify-content: flex-start;
  background-image: url(/hero-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--display-size);
  color: var(--gray-white);
  font-family: var(--body-regular-400);
}
@media screen and (max-width: 960px) {
  .text {
    max-width: 100%;
  }
  .formcontainer {
    width: 300px;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
}
