.icon {
  position: relative;
  width: 78px;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
}
.sellYourHome1 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.readMore,
.weDoA {
  position: relative;
  font-size: var(--body-regular-400-size);
  line-height: 24px;
  text-align: left;
}
.weDoA {
  color: var(--color-lightslategray);
  display: flex;
  align-items: flex-end;
  width: 268px;
}
.readMore {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-family: var(--body-regular-600);
  color: var(--primary-500);
  display: inline-block;
}
.contents,
.sellYourHome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contents {
  gap: var(--gap-5xl);
}
.sellYourHome {
  border-radius: var(--br-9xs);
  background-color: var(--gray-white);
  box-shadow: 0 24px 68px rgba(59, 77, 129, 0.08);
  padding: var(--padding-3xl);
  box-sizing: border-box;
  min-width: 300px;
  max-width: 340px;
  text-align: center;
  font-size: var(--header-heading-4-size);
  color: var(--gray-700);
  font-family: var(--body-regular-600);
}
