.cards,
.cardwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.cards {
  flex: 1;
  gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.cardwrapper {
  align-self: stretch;
  text-align: left;
  font-size: 14.51px;
  color: var(--gray-700);
  font-family: var(--body-large-400);
}
