.landingPage {
  position: relative;
  background-color: var(--gray-white);
  width: 100%;
  height: 5095.99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
